{% extends "base.html" %}

{% block title %}Mot de passe oublié{% endblock %}

{% block content %}
<div class="center-content" style="margin-top: 10%; animation: fadeIn 1s ease-in-out;">
    <h2>Mot de passe oublié</h2>
    <form method="POST" style="max-width: 400px; margin: 0 auto; text-align: left;">
        <label for="email" style="display: block; margin-bottom: 5px;">Email :</label>
        <input type="email" name="email" id="email" required style="width: 100%; padding: 10px; margin-bottom: 15px; border: 1px solid #ccc; border-radius: 5px;">
        
        <button type="submit" class="button-primary" style="width: 100%; margin-bottom: 15px;">Envoyer</button>
    </form>
</div>
{% endblock %}