{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block content %}
<div class="center-content" style="margin-top: 10%; animation: fadeIn 1s ease-in-out;">
    <h2>Connexion</h2>
    {% if lockout_time %}
    <div class="alert alert-danger">
        Trop de tentatives échouées. Veuillez réessayer dans {{ lockout_time }} minutes.
    </div>
    {% endif %}
    <form method="POST" action="{{ url_for('login') }}" style="max-width: 400px; margin: 0 auto; text-align: left;">
        <label for="email" style="display: block; margin-bottom: 5px;">Email :</label>
        <input type="email" name="email" id="email" required style="width: 100%; padding: 10px; margin-bottom: 15px; border: 1px solid #ccc; border-radius: 5px;">
        
        <label for="password" style="display: block; margin-bottom: 5px;">Mot de passe :</label>
        <input type="password" name="password" id="password" required style="width: 100%; padding: 10px; margin-bottom: 15px; border: 1px solid #ccc; border-radius: 5px;">
        
        <button type="submit" class="button-primary" style="width: 100%; margin-bottom: 15px;">Se connecter</button>
    </form>
    <div style="text-align: center; margin-top: 10px;">
        <a href="{{ url_for('forgot_password') }}" style="color: #007BFF; text-decoration: none;">Mot de passe oublié ?</a>
    </div>
</div>
{% endblock %}