{% extends "base.html" %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block content %}
<div class="center-content" style="margin-top: 10%; animation: fadeIn 1s ease-in-out;">
    <h2>Réinitialisation du mot de passe</h2>
    <form method="POST" style="max-width: 400px; margin: 0 auto; text-align: left;">
        <label for="password" style="display: block; margin-bottom: 5px;">Nouveau mot de passe :</label>
        <input type="password" name="password" id="password" required style="width: 100%; padding: 10px; margin-bottom: 15px; border: 1px solid #ccc; border-radius: 5px;">
        
        <button type="submit" class="button-primary" style="width: 100%; margin-bottom: 15px;">Réinitialiser</button>
    </form>
</div>
{% endblock %}